.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* shared style */
.display-flex{
  display: flex;
}
main > section{
  margin-top: 130px;
}
/* dark 02 */
.text-gray{
  color: #424242;
}
/* dark 03 */
.text-light-gray{
color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);

}
main{
  max-width: 1440px;
  padding: 130px;
}
.btn-primary{
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600px;
  border: none;
  border-radius: 8px;

}
.section-title{
font-size: 2.8rem;
font-weight: 700px;
}
/* header style */

/* navbar related style */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-weight: 700px ;
  font-size: 2.8rem;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500px;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
/* banner related style */
.banner-content{
  max-width: 861px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-weight: 700px;
  font-size: 4rem;
}

.banner-image{
  width: 100%;
}
/* teams and feature related style  */
.teams{
  align-items: center;
  gap: 30px;
}
.team-image-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.our-feature{
  margin-left: 130px;
  max-width: 537px;

}

#quick-list{
 font-weight: 500px;
}

#orange{
  color: #ff900e;
}
.feature-description{
  margin-bottom: 32px;
  font-size: 1.3rem;
}
.facts-container{
  display: flex;
  gap: 124px ;

}
.fact{
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 241px;
  height: 241px;
 
  
}
@media screen and (max-width:576px) {
  .navbar, 
  .nav-links,
  .teams{
    flex-direction: column;
  }
  .team-image-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .our-feature{
    margin-left: 20px;
  }
}
/* medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
  .teams{
    flex-direction: column;
    
  }
  .our-feature{
    margin: 50px auto;
  }
  
}

